
*$py.class
backend/__pycache__/
# Backend specific
backend/venv/
build/
config.toml
.coverage
*.db
develop-eggs/
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
frontend/.env
frontend/node_modules/
# Frontend specific
htmlcov/
.idea/
# IDEs
.installed.cfg
instance/
lib/
lib64/
**/node_modules/
node_modules/
# Node / Vue
.npm
parts/
pnpm-debug.log*
**/pnpm-lock.yaml
pnpm-lock.yaml
**/__pycache__/
*.py[cod]
.pytest_cache/
.Python
# Python / Flask
sdist/
*.so
*.sqlite3
*.swo
*.swp
# System & OS
Thumbs.db
var/
.vscode/
wheels/
